// ===== CLASSES USED TO FOCUS ELEMENTS IN VIEWPORT =====

.focusable {
  position: relative;
  transition: all 0.5s;
}

.focused {
  opacity: 1;
  bottom: 0;
}

.unfocused {
  opacity: 0.3;
  bottom: -0.7rem;
}

.fixed {
  position: fixed;
  opacity: 1;
}