// ===== CLASSES USED TO FOCUS ELEMENTS IN VIEWPORT =====

.focusable {
  position: relative;
  transition: all 0.5s;
}

.focused {
  opacity: 1;
  bottom: 0;
}

.unfocused {
  opacity: 0.3;
  bottom: -0.7rem;
}

// ===== CLASS TOGGLE FOR NAV MENU =====

.fixed {
  position: fixed;
  opacity: 1;
}

// ===== ANIMATION FOR DOWN ARROW =====

@keyframes upAndDown {
  from { top: -0.5rem; }
  to { top: 0.5rem; }
}