// ===== GENERAL =====

html {
  overflow-x: hidden;
}

body {
  background: $mainColor;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

main > * {
  padding: 3rem 0;
}

@include desktopsAndUp {
  .wrapper {
    width: 70%;
  }
}

// ===== BUTTONS & ANCHORS =====

a {
  text-decoration: none;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: $white;
  background: $boldColor;
  border: none;
  transition: all 0.3s;
  
  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.15rem $boldColor inset;
    background: none;
    color: $boldColor;
  }
}

.anchorLink {
  color: $baseColor;
  position: relative;
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 0.4rem;
    background: adjust-color($accentColor, $alpha: -0.6);
    bottom: 0;
    left: 10%;
    transition: all 0.3s;
  }

  &:visited {
    color: $baseColor;
  }

  &:hover::after,
  &:focus::after {
    bottom: -0.2rem;
    left: 0;
    width: 100%;
  }
}

// ===== OTHER =====

.siteIcon {
  color: $boldColor;
  font-size: 2.39rem;
  font-family: $headingFont;
  font-weight: 700;
  text-transform: lowercase;
}

.focusable {
  position: relative;
  transition: all 0.5s;
}

.focused {
  opacity: 1;
  bottom: 0;
}

.unfocused {
  opacity: 0.3;
  bottom: -0.8rem;
}