// ===== GENERAL =====

html {
  overflow-x: hidden;
}

body {
  background: $mainColor;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

main > * {
  padding: 3rem 0;
}

@include desktopsAndUp {
  .wrapper {
    width: 70%;
  }
}

// ===== BUTTONS & ANCHORS =====

a {
  text-decoration: none;
  color: $baseColor;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: $white;
  background: $boldColor;
  border: none;
  transition: background 0.3s, color 0.3s;
  
  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.15rem $boldColor inset;
    background: none;
    color: $boldColor;
  }
}

.anchorLink {
  color: $baseColor;
  display: inline-block;
  position: relative;
  font-weight: 700;

  &::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 0.4rem;
    background: adjust-color($accentColor, $alpha: -0.5);
    bottom: 0.15rem;
    left: 10%;
    transition: all 0.3s;
  }
  
  &:visited {
    color: $baseColor;
  }
  
  &:hover::after,
  &:focus::after {
    bottom: 0rem;
    left: 0;
    width: 100%;
  }
}

.skipToMain {
  position: absolute;
  z-index: 70;
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}

// ===== OTHER =====

.siteIcon {
  color: $boldColor;
  font-size: 2.39rem;
  font-family: $headingFont;
  font-weight: 700;
  text-transform: lowercase;
}

.socialLinks {
  margin: 0.5rem 0;
  display: flex;
  
  @include tabletsAndUp {
    font-size: 1.3rem;
  }

  // Spaces out social links
  li:not(:last-child) {
    margin-right: 0.8rem;
  }

  a {
    color: $fadedColor;
  }

  a:focus,
  a:hover {
    color: $accentColor;
  }

  svg {
    width: 1.3rem;
  }
}