// ===== GENERAL =====

html {
  overflow-x: hidden;
}

body {
  background: $mainColor;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

main > * {
  padding: 3rem 0;
}

@include tabletsAndUp {
  .wrapper {
    width: 70%;
  }
}

// ===== BUTTONS =====

.buttonLink {
  text-decoration: none;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: $white;
  background: $boldColor;
  border: none;
  transition: all 0.3s;
  
  &:hover,
  &:focus {
    box-shadow: 0 0 0 0.15rem $boldColor inset;
    background: none;
    color: $boldColor;
  }
}