header {
  height: 100vh;
  min-height: 25rem;
  text-align: center;
  position: relative;
}

.profileContainer {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -1.5rem;
  width: 35%;
  max-width: 15rem;
  opacity: 0.4;
}

.siteMenu {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteHeroContent {
  padding-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .siteHeading,
  .siteDescription {
    margin: 0;
  }
  
  .siteHeading {
    margin-bottom: 2rem;
  }
}

@include tabletsAndUp {
  .siteDescription {
    font-size: 1.3rem;
  }

  .profileContainer {
    right: 5%;
  }
}