header {
  background: $headerColor;
  height: 100vh;
  text-align: center;
}

.siteMenu {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// TODO: Applies to more than just header! Needs to move!
.siteIcon {
  color: $boldColor;
  font-size: 2.39rem;
  // font-size: 1.5rem;
  font-family: $headingFont;
  font-weight: 700;
  text-transform: lowercase;
}

.siteHeroContent {
  padding-top: 25vh;

  .siteHeading,
  .siteDescription {
    margin: 0;
  }

  .siteHeading {
    margin-bottom: 2rem;
  }
}