.projectsCarousel {
  display: flex;
  overflow-x: auto;
}

.project {
  flex: 0 0 80vw;
  text-align: center;
}

.projectText, .projectTools {
  position: relative;
}

.projectTools {
  display: flex;
  justify-content: center;

  .tool:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@include largePhonesAndUp {
  .project {
    flex: 0 0 70vw;
  }
}