.projectsSection {
  text-align: center;

  h2 {
    margin-bottom: 4rem;
  }
}

.project {
  padding: 2rem 0;
}

.projectText {
  .projectName {
    margin: 0;
  }
  
  .projectDescription {
    margin: 1.5rem 0 0;
  }
}

.projectLinks {
  margin: 1rem 0;
}

.projectThumbnail {
  background: $footerColor;
  box-shadow: $shadow;
  padding: 1.5rem 0.5rem;
  position: relative;

  img {
    position: relative;
    z-index: 50;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 40;
    bottom: 1.6rem;
    width: 54%;
    left: 30%;
    height: 0.3rem;
    background: $fadedColor;
    box-shadow: 0 0 1rem 0.5rem $fadedColor;
    border-radius: 10rem;
  }
}

.projectTools {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;

  .tool:not(:last-child) {
    margin-right: 0.5rem;
  }

  .tool {
    transition: all 0.1s;
  }

  .tool:hover {
    transform: scale(1.05);
    color: $boldColor;
  }

  span {
    display: block;
    font-size: 0.7rem;
  }
}

@include tabletsAndUp {
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;

    &:not(:last-child) {
      margin-bottom: -3rem;
    }
  }

  .project:nth-child(even) {
    .projectCard:first-child {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }

  .projectCard {
    background: $white;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      padding: 2rem;
    }
  }

  .projectThumbnail {
    box-shadow: none;
    width: 90%;
  }

  .projectTools {
    margin: 0;
  }
}

@include desktopsAndUp {
  .projectCard:first-child {
    padding: 3rem;
  }
  .projectThumbnail {
    width: 70%;
  }
}

@include largeDesktopsAndUp {
  .projectCard:first-child {
    padding: 4rem;
  }
}