.projectsSection {
  text-align: center;
}

.project {
  padding: 2rem 0;
}

.projectCard {
  background: $white;
}

.projectText {
  .projectName {
    margin: 0;
  }
  
  .projectDescription {
    margin: 1.5rem 0 0;
  }
}

.projectLinks {
  margin: 1rem 0 1.2rem;
}

.projectThumbnail {
  background: $footerColor;
  box-shadow: $shadow;

  video {
    width: 100%;
    display: block;
  }
}

.projectTools {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;

  .tool:not(:last-child) {
    margin-right: 0.5rem;
  }

  .tool {
    transition: all 0.1s;
  }

  .tool:hover {
    transform: scale(1.05);
    color: $boldColor;
  }

  span {
    display: block;
    font-size: 0.5rem;
  }
}

@include tabletsAndUp {
  .project {
    width: 100%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;

    &:not(:last-child) {
      margin-bottom: -2.5rem;
    }
    
    .projectThumbnail {
      box-shadow: none;
    }

    .projectTools {
      margin: 1rem 0;
    }
  }
  
  .projectCard {
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      padding: 1rem;
    }
  }

  .project:nth-child(even) {
    .projectCard:first-child {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }
  // .projectsList {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-gap: 1rem 1rem;
  //   max-width: 1280px;
  //   margin: 0 auto;
  // }

  // .project {
  //   width: 100%;
  //   max-width: none;
  //   margin: 0;
  //   padding: 2rem 1rem;
  //   background: $white;
  //   box-shadow: $shadow;
  // }
  
  // .projectThumbnail {
  //   box-shadow: none;
  //   width: 80%;
  //   margin: 0 auto;
  // }

  // .project:first-child {
  //   grid-column: 1 / -1;
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 2fr 1fr;
  //   justify-content: start;

  //   .projectText {
  //     grid-row: 1 / 2;
  //   }
    
  //   .projectLinks {
  //     grid-column: 2 / 3;
  //     grid-row: 2 / 3;
  //   }

  //   .projectTools {
  //     grid-row: 2 / 3;
  //   }

  //   .projectThumbnail {
  //     grid-column: 2 / 3;
  //     grid-row: 1 / 2;
  //     width: 60%;
  //   }
  // }
}