html {
  color: $baseColor;
  font-family: $baseFont;
}

h1, h2, h3 {
  color: $boldColor;
  font-family: $headingFont;
}

h1 {
  font-size: 4.25rem;
  line-height: 3.2rem;
}

// Will need to be split into 2 declarations
h2, h3 {
  font-size: 1.6rem;
  line-height: 1.5rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}