// Font variables
$headingFont: "Lora", serif;
$baseFont: "Poppins", sans-serif;

// Font colour variables
$baseColor: #595959;
$boldColor: #393939;
$accentColor: #bcaaa4;
$fadedColor: #999;

// Background colour variables
$headerColor: #f5f2f1;
$bodyColor: #f9f9f9;
$footerColor: #fff;