// ===== VARIABLES =====

// Font variables
$headingFont: "Lora", serif;
$baseFont: "Poppins", sans-serif;

// Font colour variables
$white: #fff;
$baseColor: #595959;
$boldColor: #393939;
// $accentColor: #bcaaa4;
// $fadedColor: #999;
// $accentColor: #566D9F;
$accentColor: #385078;
$fadedColor: #727272;

// Shadows
$shadow: 0 0 0.2rem 0.15rem #eee;

// Background colour variables
$headerColor: #f5f2f1;
$mainColor: #f9f9f9;
$footerColor: #fff;


// ===== MIXINS =====

@mixin largePhonesAndUp {
  @media (min-width: 480px) { @content; }
}

@mixin tabletsAndUp {
  @media (min-width: 768px) { @content; }
}

@mixin desktopsAndUp {
  @media (min-width: 1024px) { @content; }
}

@mixin largeDesktopsAndUp {
  @media (min-width: 1280px) { @content; }
}

@mixin responsiveSize($type, $minSize, $maxSize, $minScreen: 320, $maxScreen: 1280) {
  @if $type == "font" {
    font-size: calc(#{$minSize}px + ($maxSize - $minSize) * ((100vw - #{$minScreen}px) / ($maxScreen - $minScreen)));
  }

  @if $type == "width" {
    width: calc(#{$minSize}px + (#{$maxSize} - #{$minSize}) * ((100vw - #{$minScreen}px) / (#{$maxScreen} - #{$minScreen})));
    // width: 500px;
  }
}