/* ===== SETUP ===== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@-webkit-keyframes opacityShift {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityShift {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

* {
  color: #333;
}

h1 {
  margin-bottom: 0;
  font-family: "Reenie Beanie", cursive;
  font-size: 4rem;
  text-transform: uppercase;
  color: #222;
}

h2, p {
  font-family: "Archivo Narrow", sans-serif;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  overflow-x: hidden;
}

body {
  background-color: white;
  overflow-x: hidden;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  position: relative;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

header .siteProfile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 30%;
     object-position: center 30%;
}

header .siteTitle {
  margin: 3rem 0 0;
}

header .siteDescription {
  margin: 0 0 3rem;
}

header #comingSoonTyped {
  color: #222;
  font-size: 1rem;
  font-family: "Archivo Narrow", sans-serif;
}

header .socialLinks {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

header .socialLinks li:nth-child(2) {
  margin: 0 1rem;
}

header .blogLink {
  font-family: "Reenie Beanie", cursive;
  text-transform: uppercase;
}

header .socialLinks a {
  color: #333;
  text-decoration: none;
}

header .socialLinks a:visited {
  color: #333;
}

header .socialLinks a:hover, header .socialLinks a:focus,
header .socialLinks i:hover, header .socialLinks i:focus {
  color: black;
}

.staggerContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staggerContainer .staggerVisualizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25.5rem;
  height: 25.5rem;
}

.staggerContainer .staggerVisualizer div {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #A6C5ED;
  background-color: #A6C5ED;
}
