/* ===== SETUP ===== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  color: #595959;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  color: #393939;
  font-family: "Lora", serif;
}

h1 {
  font-size: 5rem;
  line-height: 4.2rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background: #bcaaa4;
  bottom: -1rem;
  left: calc(50% - 2rem);
}

h3 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.focusable {
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.focused {
  opacity: 1;
  bottom: 0;
}

.unfocused {
  opacity: 0.3;
  bottom: -0.7rem;
}

html {
  overflow-x: hidden;
}

body {
  background: #f9f9f9;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

main > * {
  padding: 3rem 0;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 70%;
  }
}

a {
  text-decoration: none;
  color: #595959;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  color: #fff;
  background: #393939;
  border: none;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

button:hover, button:focus {
  -webkit-box-shadow: 0 0 0 0.15rem #393939 inset;
          box-shadow: 0 0 0 0.15rem #393939 inset;
  background: none;
  color: #393939;
}

.anchorLink {
  color: #595959;
  display: inline-block;
  position: relative;
  font-weight: 700;
}

.anchorLink::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0.4rem;
  background: rgba(188, 170, 164, 0.5);
  bottom: 0.15rem;
  left: 10%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.anchorLink:visited {
  color: #595959;
}

.anchorLink:hover::after, .anchorLink:focus::after {
  bottom: 0rem;
  left: 0;
  width: 100%;
}

.siteIcon {
  color: #393939;
  font-size: 2.39rem;
  font-family: "Lora", serif;
  font-weight: 700;
  text-transform: lowercase;
}

.socialLinks {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .socialLinks {
    font-size: 1.3rem;
  }
}

.socialLinks li:not(:last-child) {
  margin-right: 0.8rem;
}

.socialLinks a {
  color: #727272;
}

.socialLinks a:focus,
.socialLinks a:hover {
  color: #bcaaa4;
}

.socialLinks svg {
  width: 1.3rem;
}

header {
  height: 100vh;
  min-height: 25rem;
  position: relative;
}

.profileContainer {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -1.5rem;
  width: 35%;
  max-width: 15rem;
  opacity: 0.4;
}

.siteHeroContent {
  padding-top: 33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.siteHeroContent .siteHeading,
.siteHeroContent .siteDescription {
  margin: 0;
}

.siteHeroContent .siteHeading {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .siteDescription {
    font-size: 1.3rem;
  }
  .profileContainer {
    right: 5%;
  }
}

.siteMenu {
  padding: 1rem 0;
  position: absolute;
  z-index: 90;
  width: 100%;
}

.menuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menuWrapper ul {
  padding: 1rem;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -9.5rem;
  z-index: 98;
  width: 10.5rem;
}

#menuButton, .labelText {
  position: absolute;
  opacity: 0;
}

.menuWrapper label {
  display: block;
  height: 2rem;
  width: 2rem;
  position: relative;
  top: 0.2rem;
  left: 0.1rem;
  z-index: 99;
  cursor: pointer;
}

.menuIcon, .menuIcon::before, .menuIcon::after {
  content: "";
  display: block;
  height: 0.1rem;
  background: #727272;
}

.menuIcon {
  position: absolute;
  width: 60%;
  top: 0.92rem;
  left: 0.4rem;
}

.menuIcon::before {
  position: absolute;
  width: 100%;
  bottom: 0.4rem;
}

.menuIcon::after {
  position: absolute;
  width: 100%;
  top: 0.4rem;
}

.menuWrapper input[type="checkbox"]:checked ~ ul {
  opacity: 1;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menuWrapper input[type="checkbox"]:checked + label > .menuIcon {
  background: none;
}

.menuWrapper input[type="checkbox"]:checked + label > .menuIcon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menuWrapper input[type="checkbox"]:checked + label > .menuIcon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menuWrapper input[type="checkbox"]:focus + label {
  -webkit-box-shadow: 0 0 0 0.12rem #bcaaa4;
          box-shadow: 0 0 0 0.12rem #bcaaa4;
}

footer {
  padding: 1rem 0;
  background: #fff;
  text-align: center;
}

.footerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  margin: 0;
}

@media (min-width: 480px) {
  footer {
    padding: 2rem 0;
  }
}

.aboutSection h2 {
  margin-bottom: 5rem;
}

.biography {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.skillsSection h2 {
  margin-bottom: 6rem;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill {
  margin: 0.5rem 0;
  width: 6rem;
  text-align: center;
}

.skill .fas, .skill .fab {
  font-size: 3rem;
  color: #393939;
}

.skill svg {
  width: 3rem;
  fill: #393939;
}

.skill span {
  margin-top: 0.8rem;
  display: block;
}

.skill .textForSvg {
  position: relative;
  bottom: 0.38rem;
}

.skill .jekyllIcon {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.projectsSection {
  text-align: center;
}

.projectsSection h2 {
  margin-bottom: 4rem;
}

.project {
  padding: 2rem 0;
}

.projectText .projectName {
  margin: 0;
}

.projectText .projectDescription {
  margin: 1.5rem 0 0;
}

.projectLinks {
  margin: 1rem 0;
}

.projectThumbnail {
  background: #fff;
  -webkit-box-shadow: 0 0 0.2rem 0.15rem #eee;
          box-shadow: 0 0 0.2rem 0.15rem #eee;
  padding: 1.5rem 0.5rem;
  position: relative;
}

.projectThumbnail img {
  position: relative;
  z-index: 50;
}

.projectThumbnail::after {
  content: "";
  position: absolute;
  z-index: 40;
  bottom: 1.6rem;
  width: 54%;
  left: 30%;
  height: 0.3rem;
  background: #727272;
  -webkit-box-shadow: 0 0 1rem 0.5rem #727272;
          box-shadow: 0 0 1rem 0.5rem #727272;
  border-radius: 10rem;
}

.projectTools {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectTools .tool:not(:last-child) {
  margin-right: 0.5rem;
}

.projectTools .tool {
  min-width: 2.5rem;
}

.projectTools svg {
  fill: #595959;
  width: 1.5rem;
  position: relative;
  top: 0.15rem;
}

.projectTools span {
  display: block;
  font-size: 0.7rem;
}

@media (min-width: 768px) {
  .project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.3rem;
  }
  .project:not(:last-child) {
    margin-bottom: -2rem;
  }
  .project:nth-child(even) .projectCard:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .projectCard {
    background: #fff;
    -webkit-box-shadow: 0 0 0.2rem 0.15rem #eee;
            box-shadow: 0 0 0.2rem 0.15rem #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectCard:first-child {
    padding: 2rem;
  }
  .projectThumbnail {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 90%;
  }
  .projectTools {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .projectCard:first-child {
    padding: 3rem;
  }
  .projectThumbnail {
    width: 70%;
  }
}

@media (min-width: 1280px) {
  .projectCard:first-child {
    padding: 4rem;
  }
}

.contactSection h2 {
  margin-bottom: 6rem;
}

.contactOptions a {
  color: #bcaaa4;
}

.contactOptions li {
  margin-bottom: 3rem;
}

.inputContainer {
  position: relative;
}

.inputContainer label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  font-size: 1rem;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input, textarea {
  width: 100%;
  margin-bottom: 1.7rem;
  padding: 0.8rem;
  padding-left: 1rem;
  background: none;
  border: 0.1rem solid #727272;
  border-radius: 0;
}

textarea {
  resize: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #727272;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #727272;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #727272;
}

input::placeholder,
textarea::placeholder {
  color: #727272;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0.2rem 0.15rem #eee;
          box-shadow: 0 0 0.2rem 0.15rem #eee;
}

input:focus + label,
textarea:focus + label {
  background: #f9f9f9;
  opacity: 1;
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.5rem;
}

button[type="submit"] {
  float: right;
}

@media (min-width: 768px) {
  .contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contactSection h2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .contactOptions {
    margin-right: 2rem;
  }
  .contactForm {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 1024px) {
  .contactOptions {
    margin-right: 5rem;
  }
}
